.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
*.exe
*.db
*.db-journal
*.db-wal
*.db-shm
build
one-api
auth
run
tiktoken_cache
.DS_Store
data
logs
log
mysql
mysql-logs
upload
web/node_modules
web/.vite
